/* ==========================================================================
   CUSTOM FEATURES & OVERRIDES (Приватные стили)
   ========================================================================== */

/* 2. PWA-баннер (теперь он в кастомном файле) */
#pwa-notice {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 2000;
    width: calc(100% - 48px);
    max-width: 400px;
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    border-radius: 16px;
    padding: 16px 20px;
    box-shadow: var(--md-sys-elevation-3);
    display: flex;
    align-items: flex-start;
    gap: 16px;
    opacity: 0;
    transform: translateY(150%);
    transition: transform 0.5s var(--md-sys-motion-easing-standard), opacity 0.5s ease;
    pointer-events: none;
}

#pwa-notice.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.logo-container {width: 90%; margin: auto;}

@media (min-width: 960px) {
    #pwa-notice { display: none !important; }
}
@media (max-width: 599px) {
    #pwa-notice { bottom: 0; right: 0; width: 100%; border-radius: 24px 24px 0 0; }
}